.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nums,.ops,.dec,.clr{
  border: 3px ridge black; ;
}  
#keyboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "ac ac ac mult"
    "seven eight nine div"
    "four five six sub"
    "one two three add"
    "zero dec equ equ ";
 gap: 1rem;
}

#zero{
  grid-area:zero;
 }

#one{
  grid-area:one;
 }
 #two{
  grid-area:two;
}

#three{
  grid-area:three;
 }
#four{
  grid-area: four;
}
#five{
  grid-area: five;
}
#six{
  grid-area: six;
}
#seven{
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#add {
  grid-area:add;
}

#substract{
  grid-area:sub;
}

#multiply{
  grid-area:mult;
}
#divide{
  grid-area:div;
}

#decimal{
  grid-area:dec;
}

#clear{
  grid-area:ac;
}
#equal{
  grid-area:equ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
